[data-theme="mint-signal"] {
    --card: #fdfdfd;
    --ring: #51f0a8;
    --input: #ebebeb;
    --muted: #f5f5f5;
    --accent: #c9f5dc;
    --border: #dcdddf;
    --radius: 0.8rem;
    --chart-1: #51f0a8;
    --chart-2: #7efe8f;
    --chart-3: #ff4838;
    --chart-4: #2ebdf6;
    --chart-5: #ffb188;
    --popover: #fcfcfc;
    --primary: #51f0a8;
    --sidebar: #ffffff;
    --spacing: 0.27rem;
    --secondary: #e1f8ec;
    --background: #fdfdfd;
    --font-serif: Lora, serif;
    --foreground: #000000;
    --destructive: #f54a88;
    --shadow-blur: 3px;
    --shadow-color: oklch(0 0 0);
    --sidebar-ring: #000000;
    --shadow-spread: 0px;
    --letter-spacing: 0em;
    --shadow-opacity: 0.1;
    --sidebar-accent: #e4fef3;
    --sidebar-border: #ebebeb;
    --card-foreground: #000000;
    --shadow-offset-x: 0;
    --shadow-offset-y: 1px;
    --sidebar-primary: #000000;
    --muted-foreground: #525252;
    --accent-foreground: #087a46;
    --popover-foreground: #000000;
    --primary-foreground: #000000;
    --sidebar-foreground: #000000;
    --secondary-foreground: #087a46;
    --destructive-foreground: #ffffff;
    --sidebar-accent-foreground: #000000;
    --sidebar-primary-foreground: #ffffff;

    @media (prefers-color-scheme: dark) {
        --card: #0a0a0a;
        --ring: #51f0a8;
        --input: #3b3b3b;
        --muted: #252527;
        --accent: #093723;
        --border: #303031;
        --radius: 0.8rem;
        --chart-1: #51f0a8;
        --chart-2: #9effa1;
        --chart-3: #ffb7cf;
        --chart-4: #5fd0ff;
        --chart-5: #ffb188;
        --popover: #1a1b1b;
        --primary: #51f0a8;
        --sidebar: #0a0a0a;
        --spacing: 0.25rem;
        --secondary: #216a49;
        --background: #000000;
        --font-serif: Lora, serif;
        --foreground: #f0f0f0;
        --destructive: #ff78a5;
        --shadow-blur: 3px;
        --shadow-color: oklch(0 0 0);
        --sidebar-ring: #51f0a8;
        --shadow-spread: 0px;
        --letter-spacing: 0em;
        --shadow-opacity: 0.1;
        --sidebar-accent: #00331b;
        --sidebar-border: #353a3e;
        --card-foreground: #f0f0f0;
        --shadow-offset-x: 0;
        --shadow-offset-y: 1px;
        --sidebar-primary: #51f0a8;
        --muted-foreground: #969696;
        --accent-foreground: #fefefe;
        --popover-foreground: #f0f0f0;
        --primary-foreground: #000000;
        --sidebar-foreground: #f0f0f0;
        --secondary-foreground: #f0f0f0;
        --destructive-foreground: #ffffff;
        --sidebar-accent-foreground: #51f0a8;
        --sidebar-primary-foreground: #ffffff;
    }
}