[data-theme="vikasana"] {
    --background: #fafafa;
    --foreground: #09090b;
    --card: #fafafa;
    --card-foreground: #101013;
    --popover: #fafafa;
    --popover-foreground: #17171b;
    --primary: #e38935;
    --primary-foreground: #09090b;
    --secondary: #dce9e7;
    --secondary-foreground: #182528;
    --muted: #a1a1aa40;
    --muted-foreground: #17171b;
    --accent: #24383b;
    --accent-foreground: #e8f0ef;
    --destructive: oklch(0.704 0.191 22.216);
    --destructive-foreground: hsl(210 40% 98%);
    --border: #00000014;
    --input: #00000024;
    --ring: #e3af35;
    --chart-1: #e3af35;
    --chart-2: #c2820a;
    --chart-3: #7a4e05;
    --chart-4: #3a2100;
    --chart-5: #1c1206;
    --radius: 0.375rem;
    --sidebar: #fafafa;
    --sidebar-foreground: #101013;
    --sidebar-primary: #e3af35;
    --sidebar-primary-foreground: #09090b;
    --sidebar-accent: #fafafa;
    --sidebar-accent-foreground: #1c1c21;
    --sidebar-border: rgba(255, 255, 255, 0.08);
    --sidebar-ring: #e3af35;
    --shadow-color: hsl(0 0% 0%);
    --shadow-opacity: 0.1;
    --shadow-blur: 8px;
    --shadow-spread: -1px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 4px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;

    @media (prefers-color-scheme: dark) {
        --background: #09090b;
        --foreground: #fafafa;
        --card: #101013;
        --card-foreground: #fafafa;
        --popover: #17171b;
        --popover-foreground: #fafafa;
        --primary: #e3af35;
        --primary-foreground: #09090b;
        --secondary: #24343a;
        --secondary-foreground: #f8faf9;
        --muted: #17171b;
        --muted-foreground: #a1a1aa;
        --accent: #e8f0ef;
        --accent-foreground: #24343a;
        --destructive: oklch(0.704 0.191 22.216);
        --destructive-foreground: hsl(210 40% 98%);
        --border: #ffffff14;
        --input: #ffffff24;
        --ring: #e3af35;
        --chart-1: #e3af35;
        --chart-2: #c2820a;
        --chart-3: #7a4e05;
        --chart-4: #3a2100;
        --chart-5: #1c1206;
        --radius: 0.375rem;
        --sidebar: #101013;
        --sidebar-foreground: #fafafa;
        --sidebar-primary: #e3af35;
        --sidebar-primary-foreground: #09090b;
        --sidebar-accent: #1c1c21;
        --sidebar-accent-foreground: #fafafa;
        --sidebar-border: rgba(255, 255, 255, 0.08);
        --sidebar-ring: #e3af35;
        --shadow-color: hsl(0 0% 0%);
        --shadow-opacity: 0.1;
        --shadow-blur: 8px;
        --shadow-spread: -1px;
        --shadow-offset-x: 0px;
        --shadow-offset-y: 4px;
        --letter-spacing: 0em;
        --spacing: 0.25rem;
    }
}